<%content_for :page_title do%>
	Productos TOP
<%end%>

<%content_for :page_actions do%>
	<li><%link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class=>'button'%></li>
<%end%>


<h1>Productos que más se han comprado en el último mes</h1>
<table>
	<tr>
		<th>SKU</th>
		<th>Cantidad Comprada</th>
	</tr>
<% @q.each do |c| %>
	<tr>
		<td><%= c._id%></td>
		<td><%= c.count%></td>
	</tr>
<% end %>
