<%content_for :page_title do%>
	Productos TOP
<%end%>

<%content_for :page_actions do%>
	<li><%link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class=>'button'%></li>
<%end%>


