<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
var geocoder;    
var map;
var myPedidos = <%=raw @paquetesPedidos.to_json%>;
var myJSONobject ='{"color":"red","direccion":"ROBERTO DEL RIO  1400 DEPTO 504,PROVIDENCIA,REGION METROPOLITANA","nombreCliente": "Joseto y Julio","pedido": [{"sku": "asdasd","cantidad_enviada": 23,"cantidad_solicitada": 44,"quiebre": true},{"sku": "asdasd","cantidad_enviada": 23,"cantidad_solicitada": 23,"quiebre": true},{"sku": "asdasd","cantidad_enviada": 22,"cantidad_solicitada": 33,"quiebre": false},{"sku": "asdasd","cantidad_enviada": 98,"cantidad_solicitada": 98,"quiebre": false}]}';
console.log(<%= @h%>)

function initialize() {
  geocoder = new google.maps.Geocoder();
  var myLatlng = new google.maps.LatLng(-33.426116, -70.598614);
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(-33.426116, -70.598614)
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  
   
   //codeAddress('Av Luis Thayer Ojeda 854,Santiago,Chile','red',{hola: 'asdasdasd'})
   //codeAddress('Av Luis Thayer Ojeda 600,Santiago,Chile','green',{hola: 'asdasdasd'})
   //codeAddress('Av Luis Thayer Ojeda 1000,Santiago,Chile','yellow',{hola: 'asdasdasd'})
   
   for(var i in myPedidos)
   {
    codeAddress(JSON.stringify(myPedidos[i]))
    
   }
   //codeAddress(myJSONobject)
}
function codeAddress(jsonobject) {
  
  var json = JSON.parse(jsonobject)
 // alert(json.direccion)
 // alert(JSON.stringify(json.pedido));
  var address = json.direccion;

  var tabla = parseTable(json)
  error=false;

  geocoder.geocode( { 'address': address}, function(results, status) {

    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      //Ventana a desplegarse cuando se hace click en el marcador
      var infowindow = new google.maps.InfoWindow({
      content: "Cliente: " + json.nombreCliente + "<br />"
              + "Direccion: " + json.direccion + "<br />"
              + "Info Pedido: " + "<br />"
              + tabla
      });
      //Inicializar el marcador
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      //Declarar el evento para que al hacer click en el marcador se muestre la infowindow
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
      //Obtener el icono del mapa desde la url dada por google
      var s1 = 'http://maps.google.com/mapfiles/ms/icons/';
      var s2 = json.color;
      var s3 = '-dot.png'
      var url = s1.concat(s2,s3);
      marker.setIcon(url)
    } else {
      error=true;
    }
  }
  );
}

//Crea una tabla html con los datos de un pedido (para mostrarse en el marcador correspondiente)
function parseTable(json){
  
   var table = "<table class=\"table.colorful\"><tr><th>SKU</th><th>Cantidad Solicitada</th><th>Cantidad Enviada</th><th>Quiebre</th></tr>"

  for (var i in json.pedido) {
    var counter = json.pedido[i];
    var q ="No";
    if(counter.quiebre)
    {
     // alert(counter.quiebre)
      q = "Si"
    }
     table += "<tr><td><b>" + counter.sku+ "</b></td><td>" + counter.cantidadSolicitada + "</td><td>" + counter.cantidadEnviada + "</td><td>" + q + "</td></tr>";
  } 

    table += "</table>";
  return table


}

$(
  function(){
    $('#next').click(function(){
      window.location="<%= mapa_path(offset: params[:offset].to_i+10) %>"
    })

    if(error)
      alert("Algunos puntos no se pudieron cargar");
  }
)

google.maps.event.addDomListener(window, 'load', initialize);

</script>
</head>
<body>
    <button id="next">Anteriores 10</button>
    <div id="map-canvas"></div>
</body>
</html>